// Temp nav styles
ul.navigation-secondary {
    margin-top: 20px;
    li {
      cursor: pointer;
      font-size: 15px;
      width: 100%;
      box-shadow: none;
      padding: 5px 0;
      color: #1d1d1d;
      span { margin-left: 50px; }
      &:active, &.active{
        background: #f5f5f5;
        color: var(--pf-global--link--Color);
      }
      &:hover { color: var(--pf-global--link--Color); }
    }
  }

.pf-c-page__main#root {
  padding: 30px;
  overflow-x: auto;
}

.users-list__actions_dot {
  padding: .79em;
  line-height: 1em;
  min-height: 1em;
  border-radius: .29rem;
}

.users-list__actions_dot:hover {
  background: #e0e1e2 none;
}

.ui.table.users-list, .ui.table.quotas-list {
  border: none;

  thead {
    th,
    th.sorted {
      border-left: none;
      background: white;
    }
  }
}

.items-list {
  background-color: white;
  border-radius: 3px;
  margin-top: 20px;
  min-width: 600px;
  padding: 20px;
}
.ui.basic.label {
  border: 1px solid #9f3a38;
  color: #9f3a38;
}

.ui.progress .bar {
  min-width: 0;
}

.ui.segment {
  padding: 2em;
}

.ui.button {
  &.back__top {
    margin-bottom: 2em;
  }

  &.back__bottom {
    margin-top: 2em;
  }
}

.tabs {
  margin-top: 20px;
}

.ui.dropdown .menu > .item-red,
.ui.dropdown .menu > .item-red:hover {
  color: #FF0000;
}

.ui.form.delete {
  .field > label {
    font-weight: 400;
  }
}

.ui.modal {
  > .header {
    border-bottom: none;
  }

  > .content {
    padding-top: 0;
  }

  .description {
    margin-bottom: 1em;
  }
}

.ui.modal.delete-client {
  .actions {
    border: none;
    padding: 1.5rem;
    padding-top: 0;
  }

  .description {
    padding: 0 1.5rem;
    margin-bottom: 1em;
  }

  .button.primary {
    background-color: #db2828;
  }

  .button.primary:hover {
    background-color: #d01919;
  }
}
.item {
  pointer-events: all;
}
.ui.dropdown.dropdown .menu > .input {
  margin: unset;
}

.ui.form input[type=text] {
  border-radius: 0;
  border-left: none;
  border-right: none;

  &:focus {
    border-radius: 0;
  }
}

.ui.label > .delete.icon {
  margin-left: 1rem;
}

.ui.form .field :disabled {
  background-color: #e8e8e8;
}

.popup-icon {
  border-radius: 2px;
  cursor: pointer;
  margin-left: 3px;
  background: #E8E8E8;
}

.text_left {
  float: left;
}

.text_right {
  float: right;
}

.user-password {
  position: relative;
  top: 10px;
}

.fa-eye, .fa-eye-slash {
  cursor: pointer;
}

.ui.popup.popup_field {
  min-width: 376px;
}

#_pendo-badge_l7YKiAFx16jPyvrkFQOwMuH2aXg {
  display: none !important;
}

.ui.modal > .actions { 
  background-color: transparent;
}  

.users-list tr:hover {
  background: #f8f8f8;
  cursor: pointer;
}
.ui.grid > .row.quotas-description {
  padding: 0;
  
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #767676;
  }
}
.row.buckets-description {
  padding: 0;
  
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #767676;
  }
}
.back_link {
  max-width: min-content;
}
.uneditable_field {
  margin-bottom: 14px;

  label {
    display: block;
    margin: 0 0 0.28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
  }
  p {
    font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3A383C;
  }
}
.quotas-list .gray-text {
  color: #767676;
}
.items-list span.s3quotas-empty {
  width: 100%;
  text-align: center;
  color: #767676;
  padding: 10px;
}
div.ui.active.centered.inline.loader {
  margin-top: 20px;
}
.disabled-btn {
  cursor: default;
  opacity: .45!important;
  background-image: none!important;
  box-shadow: none!important;
  padding-top: 12px!important;
}

.info-icon {
  margin: 0px 0px 2px 0px!important;
  position: relative;

  &:before {
      position: absolute;
      bottom: -2px;
  }
}
.ui.grid.buckets-grid {
  margin: -1rem 0;

  .row .column {
    padding: 0;
  }

  p {
    max-width: 650px;
  }
}
.resources-bottom-panel {
  display: flex;
  justify-content: space-between;

  div.resource-action {
    button {
    position: absolute;
    right: 10px;
    bottom: 4px;
    width: 100px;
    }
  }
}

.quotas-list .endpoint {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 4px;

  div {
    display: flex;
    justify-content: space-between;
  }

  a {
    margin-right: 8px;
  }
}

.ui.grid>.row>.column.column-copy {
  display: flex;
  gap: 4px;
}

.ui.grid>.row>.column.column-copy i {
  margin-left: 4px;
}

.flex-inline {
    display: flex;
    align-items: center;
    gap: 4px;
}

i.icon-copy__size {
    width: 100%;
    height: 100%;
}

button.copy {
  border:none;
  background-color: white;
  cursor: pointer;
  padding: 0;
  padding: 0.2em;
  border-radius: 0.29rem;

  &:hover {
    background: #e0e1e2 none;
  }
}

.copy-button {
  color: #4C4C4C;
  background-color: #EDEDED;
  border-radius: 4px;
  padding: 1px 2px;
  border: none;
  cursor: pointer;

  i {
    margin: 0 !important;
  }
}
